{% extends 'base.html' %}

{% block head %}
<title>Home - NLP Review Labeler</title>
{% endblock %}


{% block body %}
<div class="content">
    <h1>Welcome to the NLP Review Labeler</h1>

    <h4>Here's a brief summary of everything in this web app:</h4>
    <ul>
        <li>Home
            <p>&emsp;You are currently here. It brings you back to this home page.</p>
        </li>

        <li>Label
            <p>&emsp;You can select an uploaded file here and begin labeling the data.</p>
        </li>

        <li>Show Reviews
            <p>&emsp;You can visualize the reviews from a file in this page</p>
        </li>

        <li>Upload File
            <p>&emsp;You can upload CSV files from this page to the database</p>
        
        </li>
    </ul>
</div>

{% endblock %}
