{% extends 'base.html' %}

{% block body %}

<div class="content">

  <h2>Labeling the data</h2>

  <form action="/label" method="POST">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="csv_file">Select which file to label</label>
      </div>
      <select class="custom-select" id="csv_file" name="file_id">
        <option selected>Choose...</option>
        {% for csv_file in csv_files %}
        <option value={{loop.index}}>{{csv_file.filename}}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Select File</button>
  </form>

  <form action="/label-next" method="POST">
    <div class="grid-container">
      <div class="review-box">
        <h4>Current Review</h4>
        {% if current_review is not none %}
          <h6>Title: {{ current_review.title }}</h6>
          <h6>Rating: {{ current_review.rating }}/5</h6>
          <a>
            {{ current_review.body}}
          </a>
          {% endif %}
      </div>

      {% for i in range(3) %}
      <div class={{ "review-check-" ~ (i+1)|string }}>
        <h4>{{ "Topic " ~ (i+1)|string }}</h4>
        {% for cls in labeling_classes %}
        {% set topics = [current_review.review_topic_1, current_review.review_topic_2, current_review.review_topic_3] %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name={{ "topic-" ~ (i+1)|string }} id={{ "topic-" ~ (i+1)|string
            }} value={{ cls }} {{ "checked" if "none"==cls }}>
          <label class="form-check-label" for={{ "topic-" ~ (i+1)|string }}>
            {{ cls }}
          </label>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      <button type="submit" class="btn btn-primary next-button">Next</button>
    </div>
  </form>


</div>

{% endblock %}